name: Create PDFs and update README
permissions:
  contents: write

on: push

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install deps
        run: |
          pip install pillow pillow-heif

      - name: Run PDF generator
        run: |
          python scripts/generate_pdfs.py

      - name: Generate links list
        run: |
          echo "" > links.md
          folders=$(find . -maxdepth 1 -type d ! -name "." | sort)
          for f in $folders; do
            fname=$(basename "$f")
            pdf="$f/lecture_${fname}.pdf"
            if [ -f "$pdf" ]; then
              echo "- [${fname}](./${fname}/lecture_${fname}.pdf)" >> links.md
            fi
          done

          # передаём содержимое файла в переменную окружения
          LINKS="$(cat links.md)"
          LINKS="${LINKS//$'\n'/\\n}"
          echo "PDF_LINKS=$LINKS" >> $GITHUB_ENV

      - name: Update README
        run: |
          awk -v links="$PDF_LINKS" '
            /<!--START_LECTURES-->/ {
              print
              print links
              next
            }
            /<!--END_LECTURES-->/ {
              print
              next
            }
            !done
            {print}
          ' README.md > tmp.md

          mv tmp.md README.md

      - name: Commit & push
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add README.md **/*pdf || true
          git diff --cached --quiet || git commit -m "Auto-update PDFs and README"
          git push
